.conteiner {

   background-size: cover;
   background-image: url(../img/rana_sawalha.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100vw;
    height: 100vh;
  
}

.header {
   height: 56px;
   background: #ffffff;
   /* background-color: rgba(0, 0, 0, 0.5);
   background-blend-mode: hue; */
   /* background: #222;
   opacity: 0.5; */
   background-color: rgba(0, 0, 0, 0.41);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   color: white;
   font-size: 20px;
   font-weight: bold;
   padding-left: 81px;
   line-height: 21px;
   cursor: pointer;
   font-family: 'Courier New', Courier, monospace;
}

.logo:hover {
   color: #3cb878;
   transition: 0.3s;
}

.icons {
   display: flex;
   /* margin-right: 75px; */
   align-items: center;
   justify-content: space-between;
}

.calendar {
   cursor: pointer;
   height: 20px;
   width: 20px;
   background: url(../img/heder/icons-sprite.png) no-repeat;
   background-position: 0px 0px;
   margin-right: 28px;
}

.calendar:hover {
   background: url(../img/heder/icons-sprite.png) no-repeat;
   background-position: 0px -25px;
   /* transition: 0.3s; */
}

.forum {
   cursor: pointer;
   height: 22px;
   width: 28px;
   background: url(../img/heder/icons-sprite.png) no-repeat;
   background-position: -22px -1px;
   margin-right: 28px;
}

.forum:hover {
   background: url(../img/heder/icons-sprite.png) no-repeat;
   background-position: -22px -25px;
   /* transition: 0.3s; */
}

.journey {
   cursor: pointer;
   height: 20px;
   width: 20px;
   background: url(../img/heder/icons-sprite.png) no-repeat;
   background-position: -51px 0px;
   margin-right: 50px;
}

.journey:hover {
   background: url(../img/heder/icons-sprite.png) no-repeat;
   background-position: -51px -25px;
   /* transition: 0.3s; */
}

.journey::after {
   display: inline-block;
   content: "";
   width: 1px;
   height: 20px;
   background-color: #5a5856;
   margin-left: 45px;
}

.welcome {
   font-size: 14px;
   font-family: sans-serif;
   color: white;
}

.log-in {
   cursor: pointer;
   text-transform: capitalize;
   color: #3cb878;
   font-size: 14px;
   font-family: sans-serif;
}

.log-in:hover {
   cursor: pointer;
   text-decoration: underline;
}

.sing-in {
   cursor: pointer;
   text-transform: capitalize;
   color: #3cb878;
   font-size: 14px;
   font-family: sans-serif;
}

.sing-in:hover {
   cursor: pointer;
   text-decoration: underline;
}

.main {
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   flex-direction: column;
   width: auto;
   height: 88vh;
}

.center {
   /* margin: -266px -232px;
   width: 444px;
   height: 584px;
   position: absolute;
   top: 50%;
   left: 50%;   
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
   background-color: #ffffff;
   border: 1px solid #f3f3f5;
   border-radius: 12px; */
   width: 444px;
   height: 590px;
   background-color: #ffffff;
   border: 1px solid #f3f3f5;
   border-radius: 12px;
   flex-direction: column;
}

.green {
   width: 28px;
   height: 18px;
   background: #3cb878;
}

.text {
   font-size: 20px;
   margin-left: 44px;
   color: #757575;
   font-weight: 500;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 100%;
}

.main-log-in {
   font-size: 14px;
   color: rgba(60, 184, 120, 255);
   margin-right: 61px;
   width: 60px;
   height: 13px;
   cursor: pointer;
}

.main-log-in:hover {
   text-decoration: underline;
}

.vertical {
   display: flex;
   align-items: center;
   margin-top: 29px;
}

.social-login-group {
   /* display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 15px; */
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 15px;
   width: 322px;
   margin-left: 62px;
}

.facebook {
   display: flex;
   width: 156px;
   height: 46px;
   background-color: #305db8;
   cursor: pointer;
   align-items: center;
   border-radius: 5px;
}

.facebook-img {
   width: 10px;
   height: 20px;
   margin-left: 20px;
}

.facebook-hr {
   width: 1px;
   height: 28px;
   border-left: 1px solid #2852a5;
   margin-left: 16px;
}

.facebook-text {
   font-size: 16px;
   color: white;
   margin-left: 16px;
}

.facebook:hover {
   background-color: #264b96;
}

.google {
   display: flex;
   width: 156px;
   height: 46px;
   background-color: #df4a32;
   cursor: pointer;
   align-items: center;
   border-radius: 5px;
   margin-left: 13px;
}

.google-img {
   width: 25px;
   height: 16px;
   margin-left: 16px;
}

.google-hr {
   width: 1px;
   height: 28px;
   border-left: 1px solid #cc412b;
   margin-left: 11px;
}

.google-text {
   font-size: 16px;
   color: white;
   margin-left: 14px;
}

.google:hover {
   background-color: #c3412c;
}

.or {
   /* display: flex;
   margin-top: 27px;
   align-items: center;
   text-align: center;
   
   justify-content: center; */
   display: flex;
   margin-top: 27px;
   align-items: center;
   text-align: center;
   width: 322px;
   margin-left: 62px;
}

.line1 {
   /* border-bottom: 1px solid #eaeaea;
   width: 137px;
   color: gray; */
   border-bottom: 1px solid #eaeaea;
   width: 137px;
   color: gray;
   flex: 2;
}

.or-line {
   /* margin: auto 18px;
   font-family: AdobeInvisFont, Courier, Verdana;
   font-size: 14px;
   color: rgba(132, 132, 132, 255); */
   font-family: AdobeInvisFont, Courier, Verdana;
   font-size: 14px;
   color: rgba(132, 132, 132, 255);
   flex: 1;
}

.line2 {
   /* border-bottom: 1px solid #eaeaea;
   width: 137px; */
   border-bottom: 1px solid #eaeaea;
   width: 137px;
   flex: 2;
}

.text-input {
   width: 304px;
   height: 46px;
   margin: 9px 62px;
   border: 1px solid #ebebeb;
   border-radius: 3px;
   outline: none;
   font-family: Verdana;
   font-size: 14px;
   color: rgba(67, 67, 67, 255);
   padding-left: 16px;
}

.text-input:focus {
   color: #434343;
   background-color: #ffffff;
   box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
   transition: 0.6;
}

#checkbox {
   
   /* font-size: 14px;
   font-family: sans-serif;
   width: 20px;
   height: 20px;
   margin-left: 58px;
   vertical-align: text-top;
   margin-right: 12px; */
   font-size: 14px;
   font-family: sans-serif;
   width: 20px;
   height: 20px;
   margin-left: 62px;
   vertical-align: text-top;
   margin-right: 12px;
}

.submit-button {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 16px;
   color: rgba(255, 255, 255, 255);
   background-color: #3cb878;
   border-radius: 5px;
   border: 0;
   width: 322px;
   height: 46px;
   margin: 9px 62px;
   cursor: pointer;
}

.submit-button:hover {
   background-color: #329a65;
}

.terms {
   cursor: pointer;
   text-transform: capitalize;
   color: #3cb878;
   font-size: 14px;
   font-family: sans-serif;
}

.terms:hover {
   cursor: pointer;
   text-decoration: underline;
}