.conteiner {
   font-family: Verdana;
   width: 1366px;
   height: 768px;
   background-image: url('../img/background.png');
   background-color: rgba(0, 0, 0, 0.5);
   background-blend-mode: hue;
   background-repeat: no-repeat;
   background-position: center;
}

.header {
   width: 100%;
   padding-top: 50px;
}

.header-link {
   color: #ffffff;
   text-decoration: none;
}

.header-link:hover {
   color: #f26522;
}

.logo {
   margin-left: 155px;
   background-image: url(../img/logo@1X.png);
   background-repeat: no-repeat;
   width: 46px;
   height: 44px;
   float: left;
}

.logo:hover {
   margin-left: 155px;
   background-image: url(../img/logohover.png);
   background-repeat: no-repeat;
   width: 46px;
   height: 44px;
   float: left;
}

.logo-img {
   margin-left: 155px;
}

.header-text-logo-milan {
   font-weight: bold;
   font-size: 29px;
   margin-left: 61px;
   margin-top: -4px;
}

.header-text-logo-holidays {
   font-size: 18px;
   font-weight: 700;
   display: inherit;
}

.header-text-mail {
   padding-right: 147px;
   margin-top: 5px;
   color: #ffffff;
   text-align: right;
   font-size: 18px;
}

.header-text-tel {
   font-size: 18px;
   padding-right: 147px;
   text-align: right;
   color: rgba(255, 255, 255, 255);
   margin-top: -30px;
}

.tours, .tel {
   text-decoration: none;
   color: #ffffff;
}

.first-box {
   display: inline-block;
   list-style-type: none;
}

.second-box {
   margin-top: 33px;
   display: inline-block;
   list-style-type: none;
}

.main-conteiner {
   width: 100%;
   margin-left: 123px;
}

.box-line {
   float: left;
   margin-right: 68px;
}

.link-img-text {
   text-decoration: none;
   color: white;
   font-size: 18px;
   text-align: center;
   margin-top: 15px;
}

.img {
   height: 200px;
   width: 307px;
}

.link-img-text:hover {
   color: #f26522;
}

.text-footer {
   font-size: 12px;
   color: #ffffff;
   text-align: center;
}

.link-box {
   position: relative;
   overflow: hidden;
   cursor: pointer;
}

.link-box-span {
   background-color: rgba(242, 101, 34, 0);
   top: 300px;
   transition-duration: 0.4s;
   padding: 10px 0;
   position: absolute;
   text-align: center;
   color: #fff;
   font-size: 12px;
   line-height: 16px;
   margin-top: -29px;
   display: block;
   width: 100%;
   height: 55px;
}

.link-box:hover span {
   top: 155px;
   background-color: rgba(242, 101, 34, 1);
}

.caption-from {
   font-size: 10px;
   margin-left: -240px;
   margin-top: 1px;
   font-weight: 400;
}

.caption-price {
   font-size: 20px;
   margin-left: -225px;
   margin-top: -10px;
}

.caption-details {
   text-align: right;
   font-size: 14px;
   margin-right: 40px;
   margin-top: -33px;
}