.container {
  background-image: url(../img/Wiki-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: Verdana, sans-serif;
  line-height: 150%;
  perspective: 300px;
}
.shadow{
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 65%);
  z-index: 1;
  

}

.star-wars {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: orange;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 10px;
}

.animation-text {
  position: absolute;
 
  top: 9999px;
  
  line-height: 150%;
  perspective: 300px;
  animation: star-animation 30s infinite;
}

@keyframes star-animation {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}