.conteiner {
   width: 1280px;
   margin: 0 auto;
}

.header {
   font-size: 80px;
   display: inline-block;
   font-family: 'Noto Sans JP', sans-serif;
}

.header span {
   color: #4bcaff;
}

.header a {
   color: #000000;
   text-decoration: none;
}

.header-nav {
   color: white;
   width: 100%;
   height: 69px;
   text-align: center;
   background-color: #35444f;
   font-family: 'Noto Sans JP', sans-serif;
}

.header-nav li {
   display: inline-block;
   margin-top: 26px;
   margin-bottom: 20px;
}

.nav-btn a {
   color: white;
   text-decoration: none;
   font-size: 24px;
   padding-top: 21px;
   padding-bottom: 12px;
   padding-left: 42px;
   padding-right: 42px;
}

.nav-btn a:hover {
   background-color: #222f3a;
   border-left: 1px solid white;
   border-right: 1px solid white;
}

.main {
   /*float: left;*/
   display: inline-block;
   margin-top: 51px;
}

.main li {
   list-style: none;
   padding-top: 11px;
   padding-bottom: 34px;
   font-family: 'Noto Sans JP', sans-serif;
}

.menu {
   width: 344px;
   height: 399px;
   border: 1px solid #35444f;
   display: inline-block;
}

.menu-btn a {
   color: rgba(53, 68, 79, 255);
   text-decoration: none;
   font-size: 29px;
}

.menu-btn a:hover {
   background-color: #dbdbdb;
   color: #000000;
}

.img {
   border: 1px solid #35444f;
   /* width: 885px;
   height: 529px;*/
   padding-left: 297px;
   padding-top: 75px;
   padding-right: 228px;
   padding-bottom: 123px;
   float: right;
   margin-left: 70px;
}

.text {
   display: inline-block;
   margin-left: 430px;
   font-family: 'Lato', sans-serif;
}

.lorem {
   font-size: 18px;
   color: rgba(44, 44, 44, 255);
   text-align: left;
}

.footer {
   display: inline-block;
   width: 100%;
   background-color: #b4b7ba;
   font-family: 'Noto Sans JP', sans-serif;
}

.copyright {
   font-size: 24px;
   color: #0c1927;
   padding-top: 13px;
   padding-bottom: 21px;
   float: right;
   margin-right: 28px;
}

.nav-footer li {
   display: inline;
   list-style: none;
}

.nav-f-btn a {
   float: left;
   color: #0c1927;
   text-decoration: none;
   font-size: 28px;
   padding-top: 13px;
   padding-bottom: 21px;
   margin-right: 19px;
}

.nav-f-btn a:hover {
width: auto;
   border-bottom: 1px solid  #4288a9;
   padding-bottom: 0.1px;
}