body {
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.conteiner {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3a4965;
  width: 1192px;
  height: 736px;
  color: black;
  border: 22px solid #3a4965;
}

.table {
  width: 1140px;
  background-color: #ffffff;
}

table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}

.first-line-p {
  font-size: 18px;
  color: rgba(72, 72, 72, 255);
  text-align: center;
  margin-bottom: -22px;
}

.second-line-p {
  font-size: 30px;
  color: rgba(72, 72, 72, 255);
  text-align: center;
}

.storage {
  height: 69px;
  text-align: center;
  background-color: #f2f2f2;
  font-size: 16px;
  color: rgba(72, 72, 72, 255);
}

.Bandwidth {
  background-color: #e3e3e3;
  height: 69px;
  text-align: center;
  font-size: 16px;
  color: rgba(72, 72, 72, 255);
}

.Email {
  background-color: #f2f2f2;
  height: 69px;
  text-align: center;
  font-size: 16px;
  color: rgba(72, 72, 72, 255);
}

.support {
  background-color: #e3e3e3;
  height: 69px;
  text-align: center;
  font-size: 16px;
  color: rgba(72, 72, 72, 255);
}

.products {
  background-color: #f2f2f2;
  height: 69px;
  text-align: center;
  font-size: 16px;
  color: rgba(72, 72, 72, 255);
}

.users {
  background-color: #e3e3e3;
  height: 69px;
  text-align: center;
  font-size: 16px;
  color: rgba(72, 72, 72, 255);
}

.service-name-standart {
  height: 70px;
  
  background-color: #89c331;
  font-size: 24px;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  border-color: #cfcfcf;
  border-style: solid;
  border-width: 0px 0px 0px 3px;
}

.service-name-ultimate {
  height: 70px;
  text-align: center;
  font-size: 30px;
  background-color: #f04a56;
  color: rgba(255, 255, 255, 255);
}

.service-name-premium {
  height: 70px;
  text-align: center;
  background-color: #20807c;
  font-size: 24px;
  color: rgba(255, 255, 255, 255);
}

th {
  height: 69px;
}

.price-service-name {
  height: 69px;
  text-align: center;
}

.dollar {
  float: left;
  margin-top: 25px;
  margin-left: 17px;
  margin-bottom: 35px;
  font-size: 60px;
  color: rgba(72, 72, 72, 255);
}

.cent {
  font-size: 24px;
  color: rgba(72, 72, 72, 255);
  text-align: left;
  padding: -1px;
  margin-top: 32px;
  margin-left: 10px;


}

.monthly-subscription {
  font-size: 18px;
  color: rgba(72, 72, 72, 255);
  text-align: left;
  margin: -24px;
  
}

.footer {
  text-align: center;
  height: 110px;
}

.footer-button1 {
  width: 192px;
  height: 49px;
  background-color: #484848;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: rgba(255, 255, 255, 255);
  text-transform: uppercase;
  border: 0;
  border-bottom: 8px solid #404040;
  padding-top: 7px;
}

.footer-button2 {
  width: 192px;
  height: 49px;
  background-color: #89c331;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: rgba(255, 255, 255, 255);
  border: 0;
  text-transform: uppercase;
  border-bottom: 8px solid #79b027;
  padding-top: 7px;
}

.footer-button3 {
  width: 192px;
  height: 49px;
  background-color: #f04a56;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: rgba(255, 255, 255, 255);
  border: 0;
  text-transform: uppercase;
  border-bottom: 8px solid #df3a46;
  padding-top: 7px;
}

.footer-button4 {
  width: 192px;
  height: 49px;
  background-color: #20807c;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: rgba(255, 255, 255, 255);
  border: 0;
  text-transform: uppercase;
  border-bottom: 8px solid #16736f;
  padding-top: 7px;
}

td {
  border-color: #cfcfcf;
  border-style: solid;
  border-width: 0px 0px 0px 3px;
}

.footer-button-grey {
  background-color: #dddddd;
}

.footer-button1:hover {
  background-color: #404040;
  border-bottom: 8px solid #484848;
}

.footer-button2:hover {
  background-color: #79b027;
  border-bottom: 8px solid #89c331;
}

.footer-button3:hover {
  background-color: #df3a46;
  border-bottom: 8px solid #f04a56;
}

.footer-button4:hover {
  background-color: #16736f;
  border-bottom: 8px solid #20807c;
}

.fas, .fa {
  color: #848484;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin-right: 10px;
  vertical-align: middle;
}

td:first-child {
  border: none;
}